.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.clearfix {
  display: block;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body,
div,
header,
footer,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 300px;
}
header {
  border-bottom: 1px solid #808080;
}
footer {
  border-top: 1px solid #808080;
}
header h1 {
  display: inline-block;
}
header .container {
  padding: 10px;
}
#radio {
  margin-left: 30px;
}
.datetime-container {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px;
}
header .ui-datepicker-trigger {
  background: none;
  border: none;
}
header .ui-datepicker-trigger img {
  width: 25px;
  cursor: pointer;
  vertical-align: -5px;
}
ul.toolbar {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}
ul.toolbar li {
  display: inline-block;
  vertical-align: 5px;
}
ul.right-toolbar {
  float: right;
  margin-right: 150px;
}
.vrule {
  width: 1px;
  height: 100%;
  border-left: 1px solid #f1f1f1;
  display: inline;
}
#datepicker {
  cursor: pointer;
  color: #0073ea;
  background: none;
  border: none;
  font-size: 1.1em;
  text-align: right;
  padding: 5px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 22px;
}
.ui-widget {
  font-size: inherit;
}
.logo {
  height: 25px;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #eee;
}
/*.tooltip span.tt {
    font-size: 20px;
    position: absolute;
    z-index: 999;
    white-space: nowrap;
    bottom: 9999px;
    left: 50%;
    background: #000;
    color: #e0e0e0;
    padding: 0px 7px;
    line-height: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    
}

.tooltip span.tt::before {

    content: "";
    display: block;
    border-left: 6px solid #000000;
    border-top: 6px solid transparent;
    position: absolute;
    top: -6px;
    left: 0px;

}
.tooltip:hover span.tt {
    opacity: 1;
    bottom: -35px;
    left: 0px;

}*/
.tooltip {
  text-align: center;
  color: #000;
  display: none;
  position: absolute;
  z-index: 999;
}
.tooltip .text {
  background-color: #000;
  color: #fff;
  margin-top: -15px;
  padding: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0.50);
  font-weight: bold;
  font-family: Helvetica;
  font-size: 14px;
}
.tooltip .arrow {
  margin-bottom: 8px;
  margin-top: -5px;
}
.hello {
  this: 1px;
}
#fork-me {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
}
