@import './mixin'
@import './jquery-ui-timepicker-addon'


body, div, header, footer, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 300px;
}


header h1 {
    float: left;
}

header .container {
    margin: 10px;
}

#radio {
    margin-left: 30px;
    float: left;    
}

header .ui-datepicker-trigger {
    background: none;
    border: none;
}
header .ui-datepicker-trigger img {
    width: 40px;
    cursor:pointer;
}

#datepicker {
    float: left;    
    background: none;
    border: none;
    font-size: 1.1em;
    text-align: right;
    padding: 5px;
    
}
        
        
.ui-widget {
    font-size: inherit;
}
